AnnexRemote@git+https://github.com/Lykos153/AnnexRemote.git@master#egg=AnnexRemote
bids-validator==1.13.1
datalad-dataverse==1.0.1
datalad-installer==1.0.3
eeglabio==0.1.0
jsonschema==4.23.0
mne==1.10.0 
mne-bids==0.16.0
mnelab==1.0.3
pybv==0.7.6
pyDataverse==0.3.1
pyxdf==1.17.0
pyyaml==6.0.1
pytest==8.4.1
requests==2.32.3
toml==0.10.2